
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örneği - Kategori </h3>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Burası Eğitim kategorisidir</td>
        <td>True</td>
    </tr>

    <tr>
        <td>5</td>
        <td>Tiyatro</td>
        <td>Burası Tiyatro kategorisidir</td>
        <td>True</td>
    </tr>

    <tr>
        <td>7</td>
        <td>Kitap</td>
        <td>Burası Kitap kategorisidir</td>
        <td>True</td>
    </tr>

    <tr>
        <td>8</td>
        <td>Spor</td>
        <td>Burası Spor kategorisidir</td>
        <td>True</td>
    </tr>

    <tr>
        <td>10</td>
        <td>Film</td>
        <td>Burası Film kategorisidir</td>
        <td>True</td>
    </tr>

    <tr>
        <td>11</td>
        <td>Dizi</td>
        <td>Burası Dizi kategorisidir</td>
        <td>True</td>
    </tr>

</table>
